html,
body {
    height: 100%;
    margin: 0;
}

h1 {
    margin: 10px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    text-align: center;
    background: #000000;
    /* Dark background */
    color: rgb(221, 221, 221);

}

header {
    background: linear-gradient(to right, #E30B81, #CD2B34, #FFAA17);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

header img {
    max-width: 55%;
    margin: 10px auto;
    display: block;
}



footer {
    background: linear-gradient(to right, #E30B81, #CD2B34, #FFAA17);

    padding: 15px 0;
    font-size: 14px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    color: black;
    margin-top: auto;
}

footer a {
    color: black
}

/* Card */
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
}

.card {
    max-height: 500px;

    flex: 0 1 calc(100% - 2%);
    max-width: calc(100% - 2%);
    color: #fff;
    box-sizing: border-box;
}







.cardButtons {
    display: flex;
    justify-content: center;
    gap: 2%;
    -webkit-background-clip: text;
}

.cardButtons a {
    flex: 1;
    color: rgb(0, 0, 0);

}

.cardButtons button {
    width: 100%;
    padding: 20px 10px;

    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 26px;
    background: linear-gradient(to right, #E30B81, #CD2B34, #FFAA17);
    background-size: 300% 100%;
    /* makes gradient span across all 3 cardButtons */
    transition: background-position 0.3s;
}

.cardButtons a:nth-child(1) button {
    background-position: left;
}

.cardButtons a:nth-child(2) button {
    background-position: center;
}

.cardButtons a:nth-child(3) button {
    background-position: right;
}

.cardButtons button:hover:not(:disabled) {
    filter: brightness(1.1);
    cursor: pointer;
}

.cardButtons button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.cardImage img {
    padding: 5%;
    width: 90%;
    max-height: 250px;
    object-fit: contain;
}


.cardTop>* {
    display: inline-block;
    cursor: default
}

.cardTop h3 {
    color: #E84500;
}

/* Markdown Render Page*/
.mdRender {
    text-align: left;
    padding: 10px 30px 30px 30px;
    color: #ff2768;

}

.mdRender h1 {
    color: #ff8717;
    border-bottom: 2px solid #ff8717;

}

.mdRender h2 {
    color: #E84500;
    border-bottom: 2px solid #E84500;
    padding-bottom: 4px;
}

.mdRender h3,
.mdRender h4,
.mdRender h5 {
    color: #ff2833;
    border-bottom: 2px solid #ff2833;
    padding-bottom: 4px;
}

.mdRender a {
    color: inherit;
    text-decoration: inherit;
}

.mdRender ul,
.mdRender p {
    color: #ff2768;
}

.goBack {

    width: 10em;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    background: linear-gradient(to right, #E30B81, #CD2B34, #FFAA17);
    /* makes  span across all 3 cardButtons */
    transition: background-position 0.3s;
}

.goBack:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

/* 2 columns */
@media (min-width: 981px) {
    .card {
        flex: 0 1 calc(50% - 2%);
        max-width: calc(50% - 2%);
        max-height: 450px;
    }

    .cardButtons button {
        width: 80%;
        font-size: 20px;
        padding: 15px 10px;

    }

    header img {
        max-width: 40%;

    }

}

/* 3 columns */
@media (min-width: 1551px) {
    .card {
        flex: 0 1 calc(33.333% - 2%);
        max-width: calc(33.333% - 2%);
        max-height: 500px;

    }

    .cardButtons button {
        padding: 10px 20px;

        width: 70%;
        font-size: 16px;

    }

    header img {
        max-width: 30%;

    }

}

@media (min-width: 2600px) {
    .card {
        flex: 0 1 calc(25% - 2%);
        max-width: calc(25% - 2%);
        max-height: 700px;

    }

    .cardImage img {
        max-height: 450px;
    }

    .cardButtons button {
        font-size: 16px;
    }

    header img {
        max-width: 25%;

    }
}