@import url("https://fonts.googleapis.com/css2?family=Datatype:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.watermark {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 4vw;
  opacity: 0.35;
  z-index: 9999;
  pointer-events: none;
}
:root {
  --bgColT: #171733;
  --bgColB: #3b153f;

  --boxColT: #33337546;
  --boxColB: #6e40724f;

  --hoverT: #4444ff45;
  --hoverB: #ec16ff77;

  --textCol: #e2d4e7;
  --textCol2: #c467cc;
  --borderCol: #f0f0ff66;
  --shadowCol: #1f1120aa;
  --insetCol: #f0f0ff11;
}
* {
  font-family: "Space Mono";
  color: var(--textCol);
  scroll-behavior: smooth;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: var(--borderCol) #0000;
  scrollbar-width: auto;
}